{erl_opts, [debug_info]}.
{deps, [
    {exometer_core, {git, "https://github.com/Feuerlabs/exometer_core.git", {tag, "v1.5.7"}}},
    {jsx,           {git, "https://github.com/talentdeficit/jsx.git",       {tag, "v3.0.0"}}},
    lager,
    lager_logstash
]}.

{shell, [
    {apps, [simple_stats]},
    {config, "config/sys.config"}
]}.
